*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

body
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 800px;
    background: #1a2238;
}

.wraper
{
    background: whitesmoke;
    width: 450px;
    border-radius: 16px;
    box-shadow: 0 0 128px 0 rgba(0,0, 0, 0.1),
                0 32px 64px -48px rgba(0,0,0,0.5);
            
}

.form
{
    padding: 25px 30px;
}

.form header
{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
}
.form form
{
    margin: 20px 0;
}
.form form .error-txt
{
    color: #721c24;
    background:#EB6361;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #721c24;
    display: none;
}
.form form .identification
{
    display: flex;
}
.form form .identification .field:first-child
{
    margin-right: 10px;
}
.form form .identification .field:last-child
{
    margin-left: 10px;
}
.form form .field
{
    display: flex;
    position: relative;
    flex-direction: column;
    margin-bottom: 10px;
}
.form form .field label
{
    margin-bottom: 2px;
}
.form form .field input
{
    outline: none;
}
.form form .input input
{
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
     
}
.form form .image input
{
    font-size: 15px;
}
.form form .button input
{   
    margin-top: 13px;
    height: 45px;
    border: none;
    font-size: 17px;
    font-weight: 400;
    background: #1a2238;
    color: whitesmoke;
    border-radius: 5px;
    cursor: pointer;

}
.form form .field i
{
   position: absolute;
   right: 15px; 
   color: #394f8a;
   color: #ccc;
   top: 70%;
   transform: translateY(-50%);
   cursor: pointer;
}
.form form .field i.active::before
{
    color: #333;
    content: "\f070";
}
.form .link
{
    text-align: center;
    margin: 10px 0;
    font-size: 17px;

}
.form .link a
{
    color: #333;
}
.form .link a:hover
{
     text-decoration: underline;
     color: #394f8a;
}


.users
{
    padding: 25px 30px;
}

.users header,
.users-list a
{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;
}
.wraper img
{
      object-fit: cover;
      border-radius: 50%;
}
 :is(.users, .users-list) .content 
{
    display: flex;
    align-items: center;
}
.users header .content img
{
    height: 50px;
    width: 50px;
}
:is(.users, .users-list) .details
{
    color: #000;
    margin-left: 15px;
}
:is(.users, .users-list) .details span
{
    font-size: 18px;
    font-weight: 500;
}
.users header .logout
{
    color: #fff;
    font-size: 17px;
    padding: 7px 15px;
    background: #333;
    border-radius: 5px;
}
.users .search
{
    margin: 20px 0;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}
.users .search .text
{
    font-size: 18px;
}
.users .search input
{
    position: absolute;
    height: 42px;
    width: calc(100% - 50px);
    border: 1px solid #ccc;
    padding: 0 13px;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    outline: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease;
}
.users .search input.active
{
    opacity: 1;
    pointer-events: auto;
}
.users .search button
{
    width: 47px;
    height: 42px;
    border: none;
    outline: none;
    color: #333;
    background: #fff;
    cursor: pointer;
    font-size: 17px;
    border-radius: 0 5px 5px 0;
    transition: all 0.3s ease;
}
.users .search button.active
{
    color: #fff;
    background: #333;
}
.users .search button.active i::before
{
    content: "\f00d";
}

.users-list
{
    max-height: 350px;
    overflow-y: auto;
}
:is(.users-list, .chat-box)::-webkit-scrollbar
{
    width: 0px;
}
.users-list a
{
    margin-bottom: 15px;
    page-break-after: 10px;
    padding-right: 15px;
    border-bottom-color:#f1f1f1;
}
.users-list a:last-child
{
    border: none;
    margin-bottom: 0px;
}
.users-list a .content img
{
    height: 40px;
    width: 40px;
}
.users-list a .statut-dot
{
    font-size: 12px;
    color: green;
}
.users-list a .statut-dot.offline
{
    color: #ccc;
}

/*
        App css
*/

.app header
{
    display: flex;
    align-items: center;
    padding: 18px 30px;
}
.app header .back-icon
{
    font-size: 18px;
    color: #333;
}
.app header img
{
    height: 45px;
    width: 45px;
    margin: 0 15px;
}
.app header span
{
    font-size: 17px;
    font-weight: 500;
    
}
 .chat-box
 {
     height: 500px;
     overflow-y: auto;
     background:white;
     padding: 10px 30px 20px 30px;
     box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%),
                 inset 0 32px 32px -32px rgb(0 0 0 / 5%);
 }
 .chat-box .chat
 {
   margin: 15px 0;   
 }

 .chat-box .chat p
 {
     word-wrap: break-word;
     padding: 8px 16px;
     box-shadow: 0 0 32px rgb(0 0 0 / 8%),
                 0 16px 16px -16px rgb(0 0 0 / 10%);
 }
 
 .chat-box .send
 {
     display: flex;
 }
 .send .details
 {
     margin-left: auto;
     max-width: calc(100% - 130px);
 }
 .send .details p
 {
     background: #fa255e;
     color: black;
     border-radius: 18px 18px 0 18px;
 }
 .chat-box .receive
 {
     display: flex;
     align-items: flex-end;
    
 }
 .chat-box .receive img
 {
     height: 35px;
     width: 35px;
 }

 .receive .details
{
    margin-left: 10px;
    margin-right: auto;
    max-width: calc(100% - 130px );
}
 .receive .details p
 {
     background: #1a2238;
     color: white;
     border-radius: 18px 18px 18px 0;
 }
 .app .typing-area
 {
     padding: 18px 30px;
     display: flex;
     justify-content: space-between;
 }
 .typing-area input
 {
     height: 45px;
     width: calc(100% - 58px);
     font-size: 17px;
     border: 1px solid #ccc;
     padding: 0 13px;
     border-radius: 5px 0 0 5px;
     outline: none;
 }

.typing-area button
{
    width: 55px;
    border: none;
    outline: none;
    background: #1a2238;
    color: #fff;
    font-size: 19px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}
